<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
		<add key="github" value="https://nuget.pkg.github.com/MantisCodeBeta/index.json" />
		<add key="MantisCodeBeta" value="https://github.com/MantisCodeBeta/index.json" />
	</packageSources>
</configuration>