<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/MantisCodeBeta/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="lazarus88" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>